.Esqueci {
    color: #836FFF;
}
*{
    font-family: 'Palette Mosaic', cursive;
}
#Esqueci2 {
    color: blue;
}
body {
    background-color: aquamarine;
}
section p{
    background-color: antiquewhite;
    color: black;

}