@charset "utf-8";

body {
    background-image: url(stretched-1920-1200-806579.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

0.container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.Resumo {
    flex: 1;
    order: 1;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 15px;
    font-weight: 600;
}

.Caractéristicas {
    flex: 1;
    order: 2;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 15px;
    font-weight: 600;
}
.Curiosidades{
    flex: 1;
    order: 3;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 15px;
    font-weight: 600;
}
.Informações{
    flex: 1;
    order: 4;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 20px;
    font-weight: 600;
}
img{
    height: 300px;
    float: left;

}
h1{
    text-align: center;

}
.img1{
    margin-right: 10px;

}