@charset "utf-8";
body {
  background-color: #e6e6fa;
  color: #1fccc3;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  font-style: italic;
}
h1 {
  background-color: #18dada;
  color: #c497ac; }
  

p {
  font-size: 0.9em;
  text-indent: 3em;
  background-color: royalblue;
  color: #c7006d;
}
ul {
  font-weight: bold;
  
}

}
.cor_texto {
  color: #c7006d;
}
p.fundo {
    background-color: rgb(45, 225, 231);
}
footer {
    font-size: 75%;
}