@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/simpsons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
.container{
    max-width: 1500px;
    margin: auto;
    overflow: auto;
    padding: 2rem;
}
header{
    height: 20vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.donut{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background-color: rgba(249, 249, 253, 0.288);
    margin-bottom: 1.7rem;
    border: 2px solid black;
    padding: 25px;
    font-size: 1.4em;
    font-weight: 600;
}
.donut img{
    height: 350px;
    width: 100%;
}
.donutzinho{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: rgba(249, 249, 253, 0.288);
    margin-bottom: 1.7rem;
    border: 2px solid black;
    padding: 15px;
    font-size: 1.4em;
    font-weight: 600;
}
.donutzinho img{
    height: 350px;
    width: 450px;
}
.donutzinho>div{
    padding: 2rem;
}
.donut>div{
    padding: 2rem;
}
.donutzão{
    margin-top: 150px;
}
.donutzinho:nth-child(2) img{
    order: 2;
    margin-left:250px ;

}


